.userRow {
  display: flex;
  align-items: center;
  gap: 12px;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.userName {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.userNameLoading {
  background-color: #f0f0f0;
  border-radius: 4px;
  height: 20px;
  width: 120px;
}